.calculator {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.calculator-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator-buttons .calculator-numbers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.calculator-buttons .calculator-numbers button {
    flex-basis: 33%;
    width: 33%;
}
.calculator-buttons .calculator-operator {
    display: flex;
    flex-direction: column;
}
.calculator-numbers button,
.calculator-operator button {
    height: 26px;
}
.calculator-screen {
    border: 1px solid;
    margin: 0 38px;
    height: 40px;
    font-size: 36px;
    text-align: right;
}
.calculator-misc {
    margin: 0 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator-misc button {
    flex-basis: 50%;
}
.calculator-buttons > .calculator-operator {
    flex-basis: 11.3%;
}
.calculator-buttons > .calculator-numbers {
    flex-basis: 70%;
}